<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower Classifier</title>
</head>
<body>
    <h1>Iris Flower Classifier</h1>
    <form action="prediction" method="POST" >
        <h2>Enter Sepal Length</h2><input type="text" name="sl"><br>
        <h2>Enter Sepal width</h2><input type="text" name="sw"><br>
        <h2>Enter petal Length</h2><input type="text" name="pl"><br>
        <h2>Enter petal width</h2><input type="text" name="pw"><br>
        <input type="submit" value="predict">
    </form>
    <h1>

        prediction is : {{pred}}
    </h1>
    
</body>
</html>